.btn-moving {
border: 1px solid white;
padding: 12px 20px;
color: white;
font-weight: 200;
border-radius: 8px;
transition: all 1s;
display: inline-block;
margin-top: 30px;
}

.btn-moving:hover {
color:white;
background-color: lightgrey;
transition: all 1s;
}
